venv
AiDiagnosis_env/
.idea
frontend/node_modules
admin/node_modules
admin/dist
__pycache__
frontend/public/tongue
/application/net/weights/rot_and_greasy.pth
/application/net/weights/thickness.pth
/application/net/weights/tongue_coat_color.pth
/application/net/weights/tongue_color.pth
/application/net/weights/unet.pth
/application/net/weights/yolov5.pt
/application/net/weights/sam_vit_b_01ec64.pth
/application/net/weights/
/node_modules
AppDatabase.db
*.db
TongueDiagnosis/
data/
checkpoints/
runs/    